{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main2.css' %}">
    <title>КОНСОЛЬ УПРАВЛЕНИЯ</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <meta name="=viewport" content="width=device-width">
{% endblock %}

{% block body %}
   <section class="fullscreen">
        <div class="fullscreenbody">
            <div class="headermenu">
                    <ul class="backbutton" style="padding: 0">
                        <a href="/mobileapp/logic_1"><img src="{% static '555.png' %}" /></a>
                    </ul>
                    <ul class="homebutton" style="padding: 0">
                        <a href="/mobileapp/"><img src="{% static 'home.png' %}" /></a>
                    </ul>
            </div>
            <div class="centerfoto">
                <div class="fotoframe">
                    <img src="{% static 'logic_2.png' %}" alt="ops image">

                </div>
            </div>
            <div class="fotobutton">
                <div class="fotobuttonframe">

                    <form action="/mobileapp/logic_2_no" class="no">
                        <input type="submit" name="no" class="btn btn-success" value="НЕТ">
                    </form>
                    <form action="/mobileapp/logic_2_yes" class="yes">
                        <input type="submit" name="yes" class="btn btn-success" value="ДА">
                    </form>
                </div>
            </div>
        </div>
   </section>
{% endblock %}